<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE ">spring</title>
  <th:block th:replace="~{fragments/styles}"></th:block>
  <th:block layout:fragment="substyles">
  </th:block>
</head>
<body>
<div th:replace="~{fragments/navbar}"></div>

<main class="container" layout:fragment="main-content">
</main>

<div th:replace="~{fragments/footer}"></div>

<th:block layout:fragment="subscript">

</th:block>
<th:block th:replace="~{fragments/scripts}"></th:block>
</body>
</html>