<section class="py-5 text-center">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Welcome</h1>
      <p class="lead text-body-secondary">Even before she became the first female vice president of the United States, Kamala Harris was breaking barriers. As an accomplished lawyer and senator, Harris has often been in rooms where no one else looks like her. During challenging times, she maintains a message of hope for the future and works to improve the world and motivate future leaders. Harris shows women and girls of all ages that they can reach their dreams—I had tears in my eyes watching Harris win the vice presidency with my daughter and dreaming of the world she will be a part of. No matter your politics, it’s incredibly inspiring to see a woman make it to the White House. </p>
      <p>
        <a href="#" class="btn btn-primary my-2">Donate</a>
        <a href="#" class="btn btn-secondary my-2"> Subscribe</a>
      </p>
    </div>
  </div>
</section>